<main>
	{{#with navigation}}
	<div class="row g-3">
		{{#each links}}
		<div class="col-1">
			<a href="{{href}}" class="nav-link
			{{#if @last}}disabled{{/if}} text-primary">
				{{text}}
			</a>
		</div>
		{{/each}}
	</div>
	{{/with}}
	<hr>
	<h1>{{header}}</h1>
	<div class="row gy-2 gx-2 mx-2 px-2">
		<div class="col-8">
			{{#with contacts_data}}
			<h3 class="pt-5">{{title}}</h3>
			{{#each buttons}}
			<button type="button"
				class="btn btn-outline-warning{{#if isPrimary}}{{/if}}{{#if isOutline}}{{/if}}">{{text}}</button>
			{{/each}}
			{{#with form}}
			{{#with input}}
			<div class="row">
				{{#with surname}}
				<div class="col-3">
					<label class="form-label">{{label}}</label>
					<input class="form-control" value="{{placeholder}}">
					<div class="form-text">{{caption}}</div>
				</div>
				{{/with}}
				{{#with name}}
				<div class="col-3">
					<label class="form-label">{{label}}</label>
					<input class="form-control" value="{{placeholder}}">
					<div class="form-text">{{caption}}</div>
				</div>
				{{/with}}
			</div>
			<div class="row">
				{{#with phone}}
				<div class="col-3">
					<label class="form-label">{{label}}</label>
					<input class="form-control" value="{{placeholder}}">
					<div class="form-text">{{caption}}</div>
				</div>
				{{/with}}
				{{#with email}}
				<div class="col-3">
					<label class="form-label">{{label}}</label>
					<input class="form-control" value="{{placeholder}}">
					<div class="form-text">{{caption}}</div>
				</div>
				{{/with}}
			</div>
			{{/with}}
			<hr>
			{{#each switch}}
			<div class="col-12">
				<div class="form-check form-switch">
					<label class="form-check-label {{#if isActive}}{{/if}}">{{text}}</label>
					<input name="food" type="checkbox" class="form-check-input">
				</div>
			</div>
			{{/each}}
			{{/with}}
			{{/with}}
			<hr>
			<div>
				{{#with delivery}}
				<h3>{{title}}</h3>
				<div class="row">
					<div class="col-6">
						{{#each select}}
						<label class="form-label">{{label}}</label>
						<select class="form-select">
							<option selected>{{placeholder}}</option>
							<option value="1">Київ</option>
							<option value="2">Харків</option>
							<option value="3">Одеса</option>
							<option value="4">Львів</option>
							<option value="4">Дніпро</option>
							<option value="6">Донецьк</option>
						</select>
						{{/each}}
					</div>
				</div>
				{{#each delivery_type}}
				<div class="col-6">
					<div class="form-check">
						<label class="form-check-label">{{type}}</label>
						<input type="radio" class="form-check-input">
					</div>
				</div>
				{{/each}}
				<hr>
				{{#with payment}}
				<h3>{{title}}</h3>
				<div class="col-6">
					{{#each list}}
					<div class="form-check">
						<label class="form-check-label">{{type}}</label>
						<input type="radio" class="form-check-input">
						<div class="form-text">{{description}}</div>
					</div>
					{{/each}}
				</div>
				{{/with}}
				<hr>
				{{#with contact}}
				<h3>{{title}}</h3>
				{{#with surname}}
				<div class="row">
					<div class="col-4">
						<label class="form-label">{{label}}</label>
						<input class="form-control" value="{{placeholder}}">
						<div class="form-text">{{caption}}</div>
					</div>
					{{/with}}
					{{#with name}}
					<div class="col-4">
						<label class="form-label">{{label}}</label>
						<input class="form-control" value="{{placeholder}}">
						<div class="form-text">{{caption}}</div>
					</div>
					{{/with}}
				</div>
				{{#with phone}}
				<div class="row">
					<div class="col-4">
						<label class="form-label">{{label}}</label>
						<input class="form-control" value="{{placeholder}}">
						<div class="form-text">{{caption}}</div>
					</div>
					{{/with}}
					{{#with email}}
					<div class="col-4">
						<label class="form-label">{{label}}</label>
						<input class="form-control" value="{{placeholder}}">
						<div class="form-text">{{caption}}</div>
					</div>
					{{/with}}
				</div>
				{{/with}}
				<hr>
				{{#with coment}}
				{{label}}
				<div class="alert alert-light" role="alert">
					{{placeholder}}
				</div>
				{{/with}}
				<hr>
				{{/with}}
			</div>
		</div>

		<div class="col-4">
			<div class="card p-3">
				{{#each action_block}}
				<div class="mt-2">
					<button type="button" class="btn 
					btn-{{#if isSuccess}}success{{/if}}{{#if isDanger}}danger{{/if}}{{#if isInfo}}info{{/if}}">
						{{text}}</button>
				</div>
				{{/each}}
			</div>
			<div class="card p-3">
				{{#with total}}
				<h3>{{title}}</h3>
				<div class="col-6">
					{{#each item_list}}
					{{name}}: {{price}}
					{{/each}}
				</div>
				<hr>
				<div class="col-8">
					{{#each additional_info}}
					{{text}}: {{value}}
					{{/each}}
				</div>
				<hr>
				{{#with total_price}}
				{{text}}: {{value}}
				{{/with}}
				<hr>
				<div class="pb-1">
					{{#each button}}
					<div class="mt-2">
						<button type="button"
							class="btn btn-outline-primary {{#if isPrimary}}{{/if}}{{#if isOutline}}{{/if}}">{{text}}</button>
					</div>
					{{/each}}
				</div>
				{{/with}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
			{{#with coupon}}
			<h3>{{title}}</h3>
			{{#with select}}
			{{#with availabel_coupon}}
			{{label}}
			<select class="form-select form-select-lg" aria-label="Default select example">
				<option selected>{{placeholder}}</option>
				{{#each options}}
				<option {{value}}>{{text}}</option>
				{{/each}}
			</select>
			{{/with}}
			{{/with}}
			{{#with friend_coupon}}
			{{label}}
			<select class="form-select form-select-sm" aria-label="Default select example">
				<option selected>{{placeholder}}</option>
				{{#each options}}
				<option {{value}}>{{text}}</option>
				{{/each}}
				{{/with}}
		</div>
	</div>
	{{/with}}

</main>